.generales_main{
    width: 97%;
    margin: 0px auto;
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
/*posicionamiento para llave en mano-luz-agua-gas-construcciones*/
    .general{
        min-height: calc(100vh - 300px);
        img{
            margin-bottom: 25px;
            float: left;
            border-radius: 500px;
            transition: all 0.3s ease-in-out;
    
            &:hover{
                transform:scale(1.005);
                box-shadow:13px 15px 37px black ;
            }
        }
        p{
            font-size: 1.5em;
            text-align: center;
        }
        h1{
            margin-top: 100px;
            text-align: center;
            font-size: 3em;
        }
    } 

    
}

