@media only screen and (max-width:499px){

    /*ARTICULO PRICIPAL*/
    .section_main{
        display: grid;

        .cartaPrincipal{
            background-image: url("./img/Nosotros.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 15px;
            grid-column: 1/2; /*---desde donde comienza, hacia donde termina---*/
            cursor:pointer;
            transition: all 0.3s ease-in-out;

            p{
                font-size: 1.8em;
            }

            h2{
                background-color: #B91646;
                color:#343a40;
                font-size: 3em;
                border-radius: 10px;
                -webkit-text-stroke: 2px black;
            }
        }
    }

    /*ARTICULOS SECUDANRIOS*/
    .carta{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        width: 97%;

        h2{
            font-size: 2.2em;
            border-radius: 10px;
            color: #343a40;
            -webkit-text-stroke: 2px black;
        }
        p{
            font-size:1.5em;
        }
    }
    /*QUIENES SOMOS*/
    .nosotros_main{
        flex-direction: column;
        justify-items: center;
        text-align: center;
        width: 97%;
        margin: 0px auto;

        .nosotros{
            img{
                width: 300px;
            }
            h1{
                font-size: 2em;
        
            }
            p{
                font-size: 1.2em;
                margin-top: 10px;
        
            }
        }
        .nosotros2{
            img{
                float: left;
            }
        }

    }
    /*MAIN GENERAL DE LLAVE EN MANO, LUZ,AGUA,GAS,CONSTRUCCIONES*/
    .generales_main{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        width: 97%;
        margin: 0px auto;

        .general{
            h1{
                margin-top: 2px;
               font-size: 2em;
               color: #ab4493;
           }
           img{
            width: 300px;
            margin-top: 10px;
            margin-bottom: 10px;
           }
           p{
            font-size: 1.2em;
            margin-top: 10px;
            }
        }
    }
    /*SERVICIOS*/
    .servicios_main{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        width: 97%;
        margin: 0px auto;

        .servicio{
            h2{
                color: #ab4493;
                font-size: 2em;
            }
            p{
                font-size: 1.2em;
                margin-top: 10px;
            }
            img{
                display: none;
            }
        }
    }
    /*FOTOGALERIA*/
    .main_fotogaleria{
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    /*FORMULARIO*/
    #form_body{
        background-color:tan;
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        width: 97%;
        margin: 0px auto;
        
        h1{
            font-size: 1.8em;
            margin-top: 5px;
        }
        h2{
            font-size: 1.2em;
            margin-top: 5px;
        }
        form{
            background-color:tan;
            display: flex;
            flex-direction: column;
            justify-items: center;
            text-align: center;
            width: 97%;
            margin: 0px auto;
        }
    }    
    /*FOOTER*/
    #main_footer p{
        font-size: 1em;
    }
    #main_footer ul li a{
    color:white;
    font-size: 1em;
    }
    #main_footer ul p{
        font-size: 1.2em;
    }
}