
.section_main {    
    justify-items: center;
    text-align: center;
    width: 97%;
    margin: 0px auto;

    .cartaPrincipal{
        background-image: url("./img/Nosotros.jpg");
        @include background(no-repeat, center, cover);
        height: 670px;
        border-radius: 15px;

        h2{
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            font-size: 5em;
            color:$colorP;
            -webkit-text-stroke: 1px $colorS;
            background: rgba(0,0,0,.1);
        }
        p{
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            font-size: 1.8em;
            margin-top: 60px;  
            color:black; 
            -webkit-text-stroke: 1px $colorS;

        }
        .aP{
            @extend .a;
            position: relative; 
        }
    }
}
