.servicios_main{
    text-align: center;
    width: 97%;
    margin: 0px auto;

    .servicio{
        h2{
            font-size: 3em;
            text-align: center;
            justify-content: space-between;
        }
        img{
            width: 500px;
            height: 250px;
            border-radius: 200px;
            cursor:pointer;
            transition: all 0.3s ease-in-out;
    
            &:hover{
                transform:scale(1.005);
                box-shadow:13px 15px 37px black ;
            }
        }
        p{
            color: black;
            font-size: 1.5em;
            text-align: center;
            margin-top: 50px;
        }
        .aServ{
            @extend .a;
            text-align: center;
            display: inline-block;
        }
    }
}
/*imagenes para servicios*/
.servicio1 img{
    float: left;
}
.servicio2 img{
    float: right;
}
.servicio3 img{
    float: left;
}
.servicio4 img{
    float: right;
}