
.carta{
    margin: 5px;
    align-items: center;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;

    &:hover{
        transform:scale(1.05);
        box-shadow:13px 15px 37px;
    }
    h2{
        padding: 10px;
        margin-top: 20px;
        color: $cw;
        font-size: 2em;
        display: flex;
        flex-direction: column;
        color: $cw; 
        background: rgba(0,0,0,.5);
        -webkit-text-stroke: 0.5px $colorS;
        border-radius: 10px;
    }
    p{
        position: relative;
        margin-top: 60px;
        font-size: 1.8em;
        background: rgba(0,0,0,.5);
        color: $cw;
        -webkit-text-stroke: 0.5px $colorS;
    }
    /*botones "leer mas" de sub cartas*/
    .aS{
        @extend .a;
        display: inline-block;
        position: relative;
        margin-top: 60%;
        margin-bottom: 20px; 
    }
} 
/*imagenes para cada sub cartas*/
.carta1{
    background-image: url("./img/llaveenmano.jpg");
    @include background(no-repeat, center, cover);
}
.carta2{
    background-image: url("./img/servicios.jpg");
    @include background(no-repeat, center, cover);
}
.carta3{
    background-image: url("./img/fotogaleria.jpg");
    @include background(no-repeat, center, cover);
}
.carta4{
    background-image: url("./img/contacto.jpg");
    @include background(no-repeat, center, cover);
}